:root {
    --color-danger: #B34040;
    --color-primary: #4F4C4C;
    --color-secondary: #FFFFFF;
    --color-outline: #E1E1E1;
    --color-active: #FCFCFC;

    --spacing-xs: calc(var(--spacing-s) / 2);
    --spacing-m: 2rem;
    --spacing-s: 1rem;

    --border-radius-s: 0.5rem;
    --border-radius-m: 1.2rem;

    --font-size-s: 1rem;
    --font-size-m: 2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-block: var(--spacing-m);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-primary);
    padding-inline: var(--spacing-s);
}

h1 {
    font-size: var(--font-size-m);
    font-weight: 400;
}

summary,
span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border-radius: var(--border-radius-s);
    width: 100%;
    padding-block: var(--spacing-s);
    border: 0;
    font-size: var(--font-size-s);
}

details {
    /* box-shadow: 0px 3px 4px 1px #00000024; */
    border: 1px solid var(--color-outline);
    border-radius: var(--spacing-s);

    padding: var(--spacing-s);
    /* margin-block: var(--spacing-s); */

    summary {

        &::-webkit-details-marker {
            display: none;
        }

        &::after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23002544' d='m5.84 15.41l5.66-5.66l5.66 5.66l-.71.7l-4.95-4.95l-4.95 4.95z'/%3E%3C/svg%3E");
            width: 1.6em;
            height: 1.6em;
            background-size: 100% 100%;
            display: block;
            transform: rotate(90deg);
        }

        span {
            gap: var(--spacing-xs);
        }
    }

    &:open {
        background-color: var(--color-active);

        >summary {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

    >details {

        padding: var(--spacing-xs) var(--spacing-s);
        border-radius: var(--spacing-xs);
        background-color: var(--color-secondary);
        margin-block: var(--spacing-s);

        &:open {

            background-color: var(--color-secondary);

            summary {
                margin-bottom: var(--spacing-s);
            }
        }
    }
}

fieldset {

    border: 0;
    margin-block: var(--spacing-s);

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap; /* keep on one line */
      border: 0;
    }
}


label {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-xs);

    .no-support {
        color: var(--color-danger);
    }
}

input {
    
    &:checked:disabled {
        color: red;
    }
}



/* demo Joost:  https://codepen.io/joostf/pen/VKyPxZ */ 
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:user-valid */