:root {
    interpolate-size: allow-keywords;
}

button {

    &:hover,
    &:focus,
    &:active {
        background-color: unset;
    }
}

fieldset {

    &.animate-fieldset {
        overflow: hidden;
        animation: --fieldset-expand 3.2s ease;
    }

    &.disabled-fieldset {
        legend {
            display: contents;
        }

        details {
            display: none;
        }

        button {
            &::after {
                transform: rotate(-90deg);

                transition: transform var(--animation-duration) ease;
            }
        }
    }

    legend {
        width: 100%;

        button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            border: 1px solid rgb(var(--color-border));
            border-radius: var(--border-radius-small);
            font-size: 1rem;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%2305755C' d='M15.854 7.646a.5.5 0 0 1 .001.707l-5.465 5.484a.55.55 0 0 1-.78 0L4.147 8.353a.5.5 0 1 1 .708-.706L10 12.812l5.147-5.165a.5.5 0 0 1 .707-.001'/%3E%3C/svg%3E");
                width: 1.6em;
                height: 1.6em;
                background-size: 100% 100%;
                display: block;
                flex-shrink: 0;

                transition: transform var(--animation-duration) ease;
            }
            span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.7rem;
            }
        }
    }


    details {
        margin: var(--spacing-large);
        border: 1px solid rgb(var(--color-border));
        border-radius: var(--border-radius-small);
        background-color: rgb(var(--color-background-active));
        padding: var(--spacing-medium) var(--spacing-large);

        overflow: hidden;

        summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.4;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%2305755C' d='m5.84 15.41l5.66-5.66l5.66 5.66l-.71.7l-4.95-4.95l-4.95 4.95z'/%3E%3C/svg%3E");
                width: 1.6em;
                height: 1.6em;
                background-size: 100% 100%;
                display: block;
                transform: rotate(90deg);
                flex-shrink: 0;
            }

            @media (any-pointer: fine) {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &::details-content {
            /* logical property van height */
            block-size: 0;

            transition: block-size 1s,
                content-visibility 1s;
            transition-timing-function: linear(0, 0.006 0.9%, 0.027 1.9%, 0.114 4.2%, 0.612 12.9%, 0.817 17.3%, 0.893 19.5%, 0.952 21.7%, 0.998 24%, 1.03 26.5%, 1.052 29.6%, 1.058 33.3%, 1.012 49.4%, 1 57.4%, 1);
            transition-behavior: allow-discrete;
        }

        &:open {

            &::details-content {
                /* logical property van height */
                block-size: auto;
            }

            summary {

                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        label {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:has(input) {
                cursor: pointer;
            }

            margin-block: var(--spacing-large);
            padding-block: var(--spacing-small);

            .input-switch--input {
                background: rgb(var(--color-border-dark));
                border-color: rgb(var(--color-border-dark));

                &:checked {
                    background-color: rgb(var(--color-primary-hover));
                }
            }


            select {
                width: max-content;
                padding: var(--spacing-medium);
                text-align: center;
            }

            input[disabled] {
                pointer-events: none;
            }
        }
    }
}

@supports (animation: calc(0.2s * sibling-index())) {
    details {
        animation: --details-in 0.1s ease calc(0.1s * sibling-index()) 1 forwards;
        opacity: 0;
    }
}

form {
    position: relative;

    input.input-switch--input:checked {
        background-color: rgb(var(--color-border-dark));
        border: none;
    }

    span.no-support {
        color: rgb(var(--color-danger));
    }

    &:valid {
        button.save-button {
            background-color: rgb(var(--color-primary-hover));
            color: rgb(var(--color-secondary));
            border: none;

            &:hover {
                scale: 1.01;
            }
        }
    }

    button.save-button {
        border-radius: var(--border-radius-small);
        background-color: rgb(var(--color-border));
        color: rgb(var(--color-text));
        border: 1px solid rgb(var(--color-border-dark));

        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 2.6rem;
        width: 100%;

        position: sticky;
        bottom: 5.2rem;
        z-index: 10;

        @media (width > 1023px) {
            bottom: 2rem;
        }

        svg {
            align-self: center;
            margin-top: var(--spacing-large);
            flex-shrink: 0;
        }

        &:disabled {

            pointer-events: none;

            &:hover {

                pointer-events: none;
            }
        }
    }
}

.save-animation {
    animation: --save-button 1.3s ease;
}

@keyframes --details-in {
    0% {
        translate: -5rem 0;
        opacity: 0;
    }

    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes --save-button {

    0%,
    100% {
        transform: translateY(0);
    }

    15%,
    85% {
        transform: translateY(-2.1rem);
    }
}

@keyframes --fieldset-expand {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 100rem;
    }
}