:root {
    --color-primary: 17, 177, 138;
    --color-primary-hover: 5, 117, 92;
    --color-secondary: 255, 255, 255;
    --color-border: 231, 231, 231;
    --color-border-dark: 79, 76, 76;
    --color-text: 0, 0, 0;
    --color-background-active: 251, 251, 251; 
    --color-danger: 179, 64, 64;

    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 20px;
    --spacing-extralarge: 30px;

    --border-radius-small: 5px;
    --border-radius-medium: 15px;
    --border-radius-large: 25px;

    --animation-duration: 0.1s;
}