fieldset {

    &:disabled {
        display: flex;
        
        legend {
            display: block;
        }

        details {
            display: none;
        }

        button {
            &::after {
                transform: rotate(90deg);
            }
        }
    }

    legend {
        width: 100%;

        button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            border: 1px solid rgb(var(--color-grey-light));
            border-radius: var(--border-radius-small);
            font-size: 1rem;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23002544' d='m5.84 15.41l5.66-5.66l5.66 5.66l-.71.7l-4.95-4.95l-4.95 4.95z'/%3E%3C/svg%3E");
                width: 1.6em;
                height: 1.6em;
                background-size: 100% 100%;
                display: block;
                transform: rotate(180deg);
                flex-shrink: 0;
            }

            svg {
                transform: translateY(-2px);
            }
        }
    }


    details {
        margin: var(--spacing-medium);
        border: 1px solid rgb(var(--color-grey-light));
        border-radius: var(--border-radius-small);
        background-color: rgb(var(--color-white-off));
        padding: var(--spacing-medium) var(--spacing-large);

        summary {
            /* padding-block: var(--spacing-medium); */
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.4;

                 &::after {
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23002544' d='m5.84 15.41l5.66-5.66l5.66 5.66l-.71.7l-4.95-4.95l-4.95 4.95z'/%3E%3C/svg%3E");
                    width: 1.6em;
                    height: 1.6em;
                    background-size: 100% 100%;
                    display: block;
                    transform: rotate(90deg);
                    flex-shrink: 0;
                }

            @media (any-pointer: fine) {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &:open {
            summary {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        label {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-block: var(--spacing-medium);

            select {
                width: max-content;
                padding: var(--spacing-medium);
                text-align: center;
            }
        }
    }
}