fieldset {

    &:disabled {
        display: flex;

        legend {
            display: contents;
        }

        details {
            display: none;
        }

        button {
            &::after {
                transform: rotate(90deg);
            }
        }
    }

    legend {
        width: 100%;

        button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: transparent;
            border: 1px solid rgb(var(--color-border));
            border-radius: var(--border-radius-small);
            font-size: 1rem;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23002544' d='m5.84 15.41l5.66-5.66l5.66 5.66l-.71.7l-4.95-4.95l-4.95 4.95z'/%3E%3C/svg%3E");
                width: 1.6em;
                height: 1.6em;
                background-size: 100% 100%;
                display: block;
                transform: rotate(180deg);
                flex-shrink: 0;
            }

            svg {
                transform: translateY(-2px);
            }
        }
    }


    details {
        margin: var(--spacing-medium);
        border: 1px solid rgb(var(--color-border));
        border-radius: var(--border-radius-small);
        background-color: rgb(var(--color-background-active));
        padding: var(--spacing-medium) var(--spacing-large);

        summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 1.4;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23002544' d='m5.84 15.41l5.66-5.66l5.66 5.66l-.71.7l-4.95-4.95l-4.95 4.95z'/%3E%3C/svg%3E");
                width: 1.6em;
                height: 1.6em;
                background-size: 100% 100%;
                display: block;
                transform: rotate(90deg);
                flex-shrink: 0;
            }

            @media (any-pointer: fine) {
                &:hover {
                    cursor: pointer;
                }
            }
        }

        &:open {
            summary {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }

        label {
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-block: var(--spacing-medium);

            select {
                width: max-content;
                padding: var(--spacing-medium);
                text-align: center;
            }
        }
    }
}

form {

    &:valid {
        button.save-button {
            background-color: rgb(var(--color-primary));
            color: rgb(var(--color-secondary));
            border: none;
        }
    }

    button.save-button {
        border-radius: var(--border-radius-small);
        background-color: rgb(var(--color-border));
        color: rgb(var(--color-text));
        border: 1px solid rgb(var(--color-border-dark));

        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 2.6rem;

        &:hover {
            background-color: rgb(var(--color-primary-hover));
        }

        svg {
            align-self: center;
            margin-top: var(--spacing-large);
            flex-shrink: 0;
        }
    }
}

.save-animation {
    animation: --save-button 1.3s ease;
}


@keyframes --save-button {

    0%,
    100% {
        transform: translateY(0);
    }

    15%,
    85% {
        transform: translateY(-2.1rem);
    }
}